section.about-area
  .container
    .about-inner
      .about-inner__img
        img(src="./assets/img/instructor-about.png", alt="")
      .about-content
        h1.about-content__title GREETINGS
        h2.about-content__name I'm Rebecca Scout
        p.about-content__work -Fitness Coach
        p.about-content__text Lorem ipsum dolor sit amet consectetur adipisicing elit. sed do eiusm od tempor incidunt ut labore et dolore magna aliqua. Ut eneim ad minin viniam, quis nostrud exercitation Lorem ipsum dolor sit amet, conserctetur adipiscing elit.

