.banner-area
  .container
    .banner-content
      h1.banner-content__title You Gain No
        span.highlighted  Win
      h1.banner-content__title Without
        span.highlighted  Pain.
      p.banner-content__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint quod consequuntur doloribus nostrum. Error aut earum doloribus soluta ex fugiat, autem, enim, facilis quibusdam quidem culpa perspiciatis amet fugit architecto?
      a(href="").button Contact Us
