section.contact-area
    .container
      .section-title
        h1.main-title Contact Details
        h2.main-subtitle Together We Are PowerFull
      .details-contact
        .contact-info
          .contact-info__icon
            i.fas.fa-map-marker-alt.contact-icon
          h2.contact-info__title Address
          p.contact-info__details 420 Springadale Anenue Suito 189,
          p.contact-info__details Louis Mo 63197, United States
        .contact-info
          .contact-info__icon
            i.fas.fa-phone.contact-icon
          h2.contact-info__title Phone Number
          p.contact-info__details +1(409) 987-5874
          p.contact-info__details +1(409) 987-5874
        .contact-info
          .contact-info__icon
            i.fas.fa-envelope.contact-icon
          h2.contact-info__title Our E-mail
          p.contact-info__details contacts@example.com
          p.contact-info__details yourmail@gmail.com
      form.form--contact
        input.form__item(type="text" name="name" id="name" placeholder="Nombre")
        input.form__item(type="email" name="email" id="email" placeholder="email" )
        textarea(name="message" id="message" placeholder="Escribe tu mensaje" rows="8")
        a(href="").button.form__item Enviar

