section.cta-area.section--padding
  .container
    .cta-content
      .firts-section
        h2.first-section__title Having issues?
        h3.firts-section__subtitle Contact Us Now!
      .second-section
        a(href="").button.btn-cta Contact Us
