.footer-area
  .container
    .footer__inner
      .l-firts
        p Made with ❤️ by <a href="#">Jafeht</a>
      .l-last
        .social-networks
          a(href="").icon-facebook
          a(href="").icon-twitter
          a(href="").icon-instagram
