section.gallery-area
    .section-title
      h1.main-title Our Image Gallery
      h2.main-subtitle Together We Are Powerfull
    .image-gallery
      .image-gallery__item
        img(src="./assets/img/photo-gallery-1.jpg", alt="").img-gallery__img
      .image-gallery__item
        img(src="./assets/img/photo-gallery-2.jpg", alt="").img-gallery__img
      .image-gallery__item
        img(src="./assets/img/photo-gallery-3.jpg", alt="").img-gallery__img
      .image-gallery__item
        img(src="./assets/img/photo-gallery-4.jpg", alt="").img-gallery__img
      .image-gallery__item
        img(src="./assets/img/photo-gallery-5.jpg", alt="").img-gallery__img
      .image-gallery__item
        img(src="./assets/img/photo-gallery-6.jpg", alt="").img-gallery__img
      .image-gallery__item
        img(src="./assets/img/photo-gallery-7.jpg", alt="").img-gallery__img
      .image-gallery__item
        img(src="./assets/img/photo-gallery-8.jpg", alt="").img-gallery__img
    .all-contact
      a(href="#").button Contact Us

