header.main-header
    .navbar-header.container
      h2: a.logo(href="#") FitnessGym
      input(type="checkbox" id="nav-toggle").nav-toggle
      nav.main-nav
            ul.main-menu
              li.main-menu__item: a(href="").main-menu__link Home
              li.main-menu__item: a(href="").main-menu__link About
              li.main-menu__item: a(href="").main-menu__link Services
              li.main-menu__item: a(href="").main-menu__link Contact
      label(for="nav-toggle").nav-toggle-label
        span &#9776;
