section.price-area
  .section-title
    h1.main-title Our Price Plans
    h2.main-subtitle The Greates Investment is Your Health
  .card-container
    article.pricing-table
      header.card-header
        h2.card-header__title One Timer
      .card-review
          .card-review__price 0
          p.card-review__resume Lorem ipsum dolor sit amet consectetur adipisicing elit. sed do eiusmod tempor incididunt ut labore et dolore.
      .card-list
        ul.card-list__features
          li.card-list__feature Gym Training
      footer.card-footer
        a(href="#").button Get Started
    article.pricing-table
      header.card-header
        h2.card-header__title Monthly Membership
      .card-review
          .card-review__price 70
          p.card-review__resume Lorem ipsum dolor sit amet consectetur adipisicing elit. sed do eiusmod tempor incididunt ut labore et dolore.
      .card-list
        ul.card-list__features
          li.card-list__feature Gym Training
          li.card-list__feature Stretching
          li.card-list__feature Crossfit
      footer.card-footer
        a(href="#").button Get Started
    article.pricing-table
      header.card-header
        h2.card-header__title Annual
      .card-review
          .card-review__price 700
          p.card-review__resume Lorem ipsum dolor sit amet consectetur adipisicing elit. sed do eiusmod tempor incididunt ut labore et dolore.
      .card-list
        ul.card-list__features
          li.card-list__feature Gym Training
          li.card-list__feature Stretching
          li.card-list__feature Crossfit
          li.card-list__feature Pilates
          li.card-list__feature Personal Coach
      footer.card-footer
        a(href="#").button Get Started
