section.service-area.section--padding
  .container
      .section-title
        h1.main-title Your Arsenal
        h2.main-subtitle Train Yoursel To Perfection
      .service-container
        .service
          i.service__icon.fas.fa-apple-alt
          .service__title
            h3 Calorie Control
          .service__desc
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum accusantium vero consectetur nostrum dolor ab aperiam
        .service
          i.service__icon.fas.fa-weight
          .service__title
            h3 Weight Control
          .service__desc
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum accusantium vero consectetur nostrum dolor ab aperiam
        .service
          i.service__icon.fas.fa-heartbeat
          .service__title
            h3 Endurance Training
          .service__desc
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum accusantium vero consectetur nostrum dolor ab aperiam
        .service
          i.service__icon.fas.fa-calendar-alt
          .service__title
            h3 Stretching Classes
          .service__desc
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum accusantium vero consectetur nostrum dolor ab aperiam
        .service
          i.service__icon.fas.fa-fire
          .service__title
            h3 Powe Train
          .service__desc
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum accusantium vero consectetur nostrum dolor ab aperiam
        .service
          i.service__icon.fas.fa-dumbbell
          .service__title
            h3 Equipement
          .service__desc
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum accusantium vero consectetur nostrum dolor ab aperiam
      .all-contact
        a(href="#").button Contact Us
