.footer-area{
  background: color(negro);
  color: #FFF;
  padding: 2em 0;
}

.footer__inner{
  display: flex;
  justify-content: center;
}

.l-firts a{
  color: whitesmoke;
}
.icon-heart{
  margin-left: 5px;
  &:hover{
    color: red;
  }
}
